.header {
  text-align: center;
  position: relative;
  margin-top: 13px;
}

.header__logo {
  display: inline-block;
  width: 106px;
}

.header__logo > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.header__link {
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}

.header__link > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.container {
  margin-top: 8px;
}

/* Login */
.container__walk {
  display: block;
  width: 100%;
}

.login_container {
  border: 3px solid #ffd6e4;
  text-align: center;
  border-radius: 7px;
  padding: 30px 20px;
}

.login_container > h2 {
  font-size: 1.05em;
  margin-bottom: 20px;
  font-weight: normal;
}

.login_container > button {
  background-color: #ff80ab;
  border-style: none;
  color: #fff;
  border-radius: 7px;
  width: 100%;
  height: auto;
  padding: 9px;
}

.login_container > button > a {
  color: #fff;
}

/* Walk Info */
.walk__info {
  width: 100%;
  height: 68px;
  border-radius: 20px;
  position: relative;
  background: #f3f3f3;
  margin-top: 34px;
  display: block;
}

.walk__info > .img_container {
  position: absolute;
  right: -20px;
  bottom: 0;
  width: 90px;
  height: 93px;
}

.img_container > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.walk__info > span {
  color: #171717;
  display: block;
  font-family: Noto Sans KR;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  padding: 26px 0 0 10px;
}

/*walk course*/
.container__course {
  display: block;
  width: 100%;
  margin-top: 19px;
}

.course__title {
  display: block;
  font-family: Noto Sans KR;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
}

.course__info {
  margin-top: 9px;
}

.course__info > .img_container > img {
  width: 100%;
  position: relative;
  border-radius: 10px 10px 0 0;
  display: block;
}

.info_detail {
  width: 100%;
  height: 42px;
  border-radius: 0 0 10px 10px;
  position: relative;
  background: #f3f3f3;
  padding-top: 10px;
  display: block;
  padding-left: 12px;
}

.info_detail > span {
  color: #171717;
  font-family: Noto Sans KR;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 10px 10px 0px 0px;
}

/* cummunity */
.community__title {
  display: block;
  font-family: Noto Sans KR;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
}
