.main {
  padding: 15px 0 20px;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.header__title {
  font-size: 18px;
  font-weight: 400;
}

.container {
  background-color: #f2f2f2;
  margin-bottom: 47px;
}

/* 마이페이지 로그인 부분 */
.container__login {
  width: 100%;
  height: 78vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container__login > span {
  font-size: 17px;
}

.container__login > a {
  width: 200px;
  height: 40px;
  background-color: #ff80ab;
  border-radius: 7px;
  text-align: center;
  color: #fff;
  line-height: 40px;
  margin-top: 15px;
}

/* 마이페이지 프로필 정보 부분 */
.container__profile {
  background-color: #fff;
  padding: 0 20px 20px;
  display: grid;
  grid-template-columns: 130px 1fr;
  column-gap: 16px;
}

.profile__img {
  width: 100%;
  height: 130px;
  border-radius: 7px;
  overflow: hidden;
}

.profile__img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 5px;
}

.info__header > h2 {
  font-size: 17px;
  font-weight: 400;
}

.info__header > .correction_btn {
  width: 80px;
  height: 22px;
  border-radius: 30px;
  border: 1px solid #c8c8c8;
  display: flex;
  align-items: center;
  padding: 0 5px;
}

.correction_btn > .img_container {
  width: 14px;
  height: 17px;
  margin-right: 4px;
}

.correction_btn > .img_container > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.correction_btn > span {
  font-size: 10px;
  color: #a1a1a1;
}

.info__detail > span {
  color: #5c5c5c;
  font-size: 13px;
}

.info__detail > span:nth-child(1)::after {
  content: " • ";
  color: #5c5c5c;
}

.info__detail > span:nth-child(2)::after {
  content: " • ";
  color: #5c5c5c;
}

.info__location {
  font-size: 12px;
  color: #5c5c5c;
}

/* 마이페이지 첫 번째 메뉴 부분 */
.container__menu {
  background-color: #fff;
  margin-top: 10px;
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
}

.container__menu > a {
  width: 60px;
  height: 50px;
  text-align: center;
}

.container__menu > a > span {
  font-size: 11px;
}

.menu__diary > .img_container {
  width: 25px;
  height: 27px;
  margin: 0 auto;
}

.menu__dog > .img_container {
  width: 26px;
  height: 27px;
  margin: 0 auto;
}

.menu__history > .img_container {
  width: 32px;
  height: 27px;
  margin: 0 auto;
}

.menu__like > .img_container {
  width: 25px;
  height: 27px;
  margin: 0 auto;
}

.container__menu > a > div > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* 마이페이지 배너 부분 */
.container__banner {
  width: 100%;
  height: 90px;
  background: #ffb0ac;
}

.container__banner > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* 마이페이지 리스트 메뉴 부분 */
.container__menu_list {
  background-color: #fff;
  padding: 15px 20px;
}

.container__menu_list > .list__items {
  list-style: none;
}

.container__menu_list > .list__items > li {
  margin-bottom: 15px;
}

.container__menu_list > .list__items > .items__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container__menu_list > .list__items > .items__item > .img_container {
  width: 10px;
  height: 18px;
}

.container__menu_list > .list__items > .items__item > span {
  font-size: 15px;
}

.container__menu_list > ul > li > .img_container > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
