.main {
  padding: 0 20px;
}

.header {
  position: relative;
  text-align: center;
}

.header__previous_icon {
  width: 10px;
  position: absolute;
  left: 0;
  height: 18px;
  margin-top: 20px;
  background-color: transparent;
  border-style: none;
}

.header__previous_icon > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.header__title {
  font-size: 18px;
  font-weight: normal;
  padding-top: 17px;
}

.container {
    margin-top: 26px;
}

.container__profile {
  position: relative;
  width: 80px;
  height: 80px;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 35px;
}

.container__profile > label {
  position: absolute;
  bottom: -6px;
  right: -6px;
  background-color: transparent;
  border-style: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.container__profile > input {
    display: none;

}

.form__items {
  display: grid;
  grid-template-columns: 88px 1fr;
  margin-bottom: 14px;
}

.input_container {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 4px;
}

.form__items > label {
  font-size: 13px;
}

.form__items > label::after {
  content: "*";
  color: #ff80ab;
  font-size: 13px;
}

.input_container > input {
  height: 43px;
  border-radius: 7px;
  border: 1px solid #bebebe;
  padding-left: 10px;
}

.input_container > span {
  display: block;
  font-size: 11px;
}

.error_msg {
  color: #b00;
}

.submit_btn {
    width: 100%;
    height: 45px;
    background: #FF80AB;
    color: #fff;
    border-radius: 7px;
    border-style: none;
    margin-top: 165px;
    font-size: 15px;
}