.main {
  padding: 0 20px;
}

.header {
  position: relative;
  text-align: center;
}

.header__previous_icon {
  width: 10px;
  position: absolute;
  left: 0;
  height: 18px;
  margin-top: 20px;
  background-color: transparent;
  border-style: none;
}

.header__previous_icon > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.header__title {
  font-size: 18px;
  font-weight: normal;
  padding-top: 17px;
}
/*container*/
.container {
  margin: 26px 0;
}

.container__profile {
  width: 72px;
  height: 72px;
  margin-bottom: 20px;
  position: relative;
}

.container__profile > .img_container {
  position: absolute;
  width: 72px;
  height: 72px;
  border-radius: 3px;
  border: 1px solid #d9d9d9;
  background: #fff;
  overflow: hidden;
}

.img_container > img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.input_img {
  position: absolute;
  display: inline-block;
  left: 20px;
  text-align: center;
  margin-top: 14px;
}

.input_img > input {
  display: none;
}

.input_img > span {
  font-size: 11px;
}

.input_img > label {
  display: block;
  margin-bottom: -10px;
}

.form__items label {
  font-size: 15px;
}

.input_select {
  margin-top: 6px;
}

.input_select > select {
  width: 100%;
  height: 37px;
  border-radius: 5px;
  border: 1px solid #d9d9d9;
  background: #fff;
  padding: 0 11px;
  font-size: 13px;
}

.input_container {
  margin-top: 16px;
}

.input_textatea {
  margin-top: 6px;
}

.input_textatea > textarea {
  display: block;
  width: 100%;
  height: 248px;
  padding: 10px 11px;
  font-family: 'Noto Sans KR', sans-serif;
  color: #171717;
  border-radius: 5px;
  border: 1px solid #d9d9d9;
  background: #fff;
  font-size: 13px;
}

.error_msg {
  color: #b00;
  font-size: 13px;
  margin-top: 6px;
  display: inline-block;
}

.submit_btn {
  position: absolute;
  top: 20px;
  right: 16px;
  font-size: 14px;
  border: none;
  background: #fff;
}
