@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hidden {
  display: none;
}

.App {
  padding: 0 20px;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
strong,
p,
a,
li,
input,
button {
  font-family: "Noto Sans KR", sans-serif;
  color: #171717;
}

a {
  text-decoration: none;
}
